*{	
	box-sizing: border-box;
	padding:0;
	margin: 0;
    font-family: 'Droid Sans Mono', monospace;
	text-decoration: none;
}

body{
	
}

/*///////////////////////////////////////////*/
/*register*/
/*///////////////////////////////////////////*/
.register-main{
	position: relative;

	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;

	float: right;

	background: rgba(24,24,24);

	width: 75%;
	min-height: 100vh;
	padding-top: 0%;
}

.register-titleBar{
	z-index: 1;
	position: fixed;
	top: 0;
	left: 25%;
	
	background: rgb(220,220,220);
	background: rgb(106, 181, 108);
	width: 75%;
	padding-top: 5px;
	border-bottom: 5px solid #111;
}

.register-searchBtn{
	display: block;

	background: rgb(106, 181, 108);
	width: 100%;
	padding: 15px;
	border:none;
	margin: auto;
	
	color: #fff;
	font-size: 2vw;
	text-transform: uppercase;
	text-align: center;
}

.register-form{
	width: 70%;
	min-height: 200px;
	padding-top: 70px;
}

.register-form-input{
	display: block;
	background: transparent;
	border: none;
	border-bottom: 3px solid rgb(106, 181, 108);
	width: 60%;
	margin: auto;
	margin-top: 6%;
	margin-bottom: 4%;
	color: #fff;
	font-size: 2vw;
	text-align: center;
}

.register-form-btn{
    background: rgb(106, 181, 108);
    border: 3px solid #111;
    border-radius: 40px;
    display: block;
    margin: auto;
    padding: 5px 25px;

    color: #fff;
    font-size: 1.5vw; 
}

.register-form-btn-step-cont{
	display: flex;
	justify-content: space-around;
	padding: 3%;
	padding-top: 7%;
	text-align: center;
}
.register-form-btn-step{
	display: inline-block;
	width: 20%;
	text-align: center;
	background: #eee;
	color: #242424;
}

#previous-step{
	visibility: hidden;
}

.register-form-submit{
    background: transparent;
    border: 3px solid rgb(106, 181, 108);
    border-radius: 0;
    padding: 10px 50px;
    font-size: 2.5vw; 
}

.register-form-submit:hover,
.register-form-submit:focus{
    background: #111;
    color: #fff; 
}

.register-form-submit:active{
   background: #eee;
    color: rgb(106, 181, 108);
}

.has-error{
    border-color: #FF5050;
}

.help-block{
    display: block;
    color: #FF5050;
    text-align: center;

}

.register-remember{
    display: block;
    margin-top: 2%;
    color: #fff;
    font-size: 1.6vw;
    text-align: center;
}

.register-form-link{
    display: block;
    width: 50%;
    margin: auto;
    margin-top: 4%;
    color: rgb(106, 181, 108);
    font-size: 1.5vw;
    text-align: center;
}

.home-main{
	position: relative;
	background-image: url('../img/bg-home.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
/*	min-width: 100vw;*/
	min-height: 100vh;	
}

.homeMain-cont{
	position: absolute;
	top: 50%;
	left: 50%;

	display: block;
	width: 70%;
	height: 50%;
	padding: 3%;

	transform: translate(-50%,-50%);
}

.homeMain-cont-title{
	border-bottom: 2px solid #eee;

	color: #eee;
	font-size: 5.4vw;
	font-weight: lighter;
	text-align: center;
}

.homeMain-cont-title-space{
	color: rgb(106, 181, 108);
}

.homeMain-cont-buttons{
	display: flex;
	justify-content: space-around;
	padding-top: 5%;
}

.homeMain-cont-btn{
	background: transparent;
	padding: 1.5vh 10vw;
	border: 3px solid #eee;

	color: #eee;
	font-size: 2vw;
	font-weight: bold;
}

.homeMain-cont-btn:hover{
	background-color: rgba(33,33,33,.2);
	border-color: rgb(133, 230, 136);
	color: rgb(133, 230, 136);
}
/*///////////////////////////////////////////*/
/*home.About*/
/*///////////////////////////////////////////*/

.home-about{
	background: #242424;
	background: #191919;
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
}

.homeAbout-cont{
	width: 100%;
	display: flex;
	flex-direction: row;
}

.homeAbout-cont-slogan{
	width: 50%;
	padding-left: 10%; 
	color: #eee;
	font-size: 3.5vw;
}

.homeAbout-cont-slogan-titles{
	padding-left: 20px;
	border-left: 6px solid rgb(106, 181, 108);
	margin-top: 50vh;
	transform: translateY(-50%);
}

.homeAbout-cont-slogan-titles strong{
	color: rgb(106, 181, 108);
}

.homeAbout-cont-example{
	position: relative;
	width: 50%;
	height: 100%;
	padding-left: 5%;
	padding-top: 10%;
}

.new-example-cont{
	position: absolute;
	top: -10%;
	left: 30%;
	width: 60%;
	height: 50vh;
	margin-top: 45vh;
}

.new-example-cont-2{
	position: absolute;
	top: 0;
	width: 80%;
	height: 50vh;
	margin-top: 45vh;
}

.new-example.example-1{
	position: absolute;
	top: -10%;
	left: 15%;
	transform: translateY(-50%);
	min-width: 150px;
	max-width: 350px;
	width: 80%;
	height: 65%;
}

.new-example.example-1 .newsShow-main-newImg{
	background-image: url("http://i2.cdn.cnn.com/cnnnext/dam/assets/170713104256-03-pennsylvania-missing-men-super-tease.jpg");*/
}

.new-example.example-2{
	background: transparent;
	transform: translateY(-50%);
	min-width: 150px;
	max-width: 350px;
	width: 80%;
	height: 65%;
}

.new-example.example-2 .newsShow-main-newImg{
	background-image: url('https://static.independent.co.uk/s3fs-public/thumbnails/image/2017/06/09/10/brexit-guy-eu-negotiations.jpg');
}


/*///////////////////////////////////////////*/
/*home.Forms*/
/*///////////////////////////////////////////*/

.home-forms{
	overflow: hidden;
	background-image: url('../img/bg-home-2.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100vh;
}

.home-forms:focus{
	border: 10px solid yellow;
}

.home-login{
	float: left;
	align-items: center;
	display: flex;
	width: 50%;
	height: 100%;
	padding-top: 5%;
	padding-bottom: 5%;
}

.home-login-cont{
	width: 100%;
	padding-bottom: 10%;
}

.home-login-title{
	display: block;
	margin: auto;

	color: #eee;
	font-size: 3.4vw;
	text-align: center;
}

.login-btn{
	font-size: 2vw;
}

.login-btn:focus,
.login-btn:hover{
	border: 2px solid #eee;
}

.login-btn:active{
	background: #eee;
	border: 2px solid rgb(106, 181, 108);
	color: #242424;
	font-weight: bold;
}

/**************/

.home-register{
	float: right;
	display: flex;
	
	background: rgb(106, 181, 108,.2);
	background: rgba(25,25,25,.6);
	width: 50%;
	height: 100%;
	padding-top: 5%;
	padding-bottom: 5%;


	align-items: center;
}

.home-register-cont{
	width: 100%;
	padding-bottom: 10%;
}

.home-register-title{
	display: block;
	margin: auto;

	color: #eee;
	font-size: 3.4vw;
	text-align: center;
}

.home-register-cont input[name="username"],
.home-register-cont input[name="email"],
.home-register-cont input[name="password"],
.home-register-cont input[name="password_confirmation"],
.home-register-cont input[name="submit"]{
	display: none;
}

/*///////////////////////////////////////////*/

.main{
	position: relative;
	background: #333;

}

/*///////////////////////////////////////////*/
/*sideBar*/
/*///////////////////////////////////////////*/

.sideBar{
	position: fixed;
	top: 0;
	left: 0;

	background: #111;
	background: #242424;
	border-right: 5px solid rgb(220,220,220);


	width: 25%;
	height: 100%;
	padding: 2%;
	padding-top: 30px;
	text-align: center;
}

.sideBar-img{
	display: block;

	background: black;
	background-image: url('../img/bg-home.jpg');
	background-repeat: no-repeat;
	background-size: cover;

	width: 60%;
	padding-top: 60%;
	border-radius: 50%;
	margin: auto;
}

#logo{
	background-color: #ededed;
	width: 15vw;
	height: 15vw;
	padding-left: 1vw;
	margin: auto;
	border: 5px solid #aaa;
	border-radius: 50%;

	color: rgb(106, 181, 108);
	text-shadow: 2px 2px 5px #000;
	font-size: 14vw;
}

.sideBar-title{
	border-bottom: 2px solid #eee;

	color: #eee;
	font-size: 3vw;
	font-weight: lighter;
	text-align: center;
}

.sideBar-title-space{
	color: rgb(106, 181, 108);
}

.sideBar-nav{
	background: #111;
	border: 2px solid #eee;
	margin-top: 40%;
}

.sideBar-navList{
	list-style-type: none;
	padding: 5%; 
}

.sideBar-navList-item{
	display: block;
	margin-bottom: 10%;
	font-size: 2vw;
	color: #eee;
}

.sideBar-navList-item:hover{
    color: #333;
    background: rgb(106, 181, 108);
}

/*///////////////////////////////////////////*/
/*news.topBar*/
/*///////////////////////////////////////////*/

.news-topBar{
	z-index: 1;
	position: fixed;
	top: 0;
	left: 25%;
	
	background: rgb(220,220,220);
	background: rgb(106, 181, 108);
	width: 75%;
	padding-top: 5px;
	border-bottom: 5px solid #111;
}

.news-topBar-viewTitle{
	display: block;

	background: rgb(106, 181, 108);
	padding: 15px;
	border:none;
	margin: auto;
	
	color: #fff;
	font-size: 2vw;
	text-align: center;
	text-transform: uppercase;
}

.news-topBar-searchBtn:hover,
.news-topBar-searchBtn:focus{
	background: rgb(70, 158, 78);
}

.news-topBar-searchList{
	display: none;
	position: absolute;
	background: #f9f9f9;
	min-width: 160px;
	width: 30%;
	margin: auto;
	overflow: auto;
	z-index: 1;
}

.news-topBar-searchList a{
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.news-topBar-searchList a:hover{
	background: #f1f1f1;
}

.show{
	display: block;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}


/*///////////////////////////////////////////*/
/*news.index*/
/*///////////////////////////////////////////*/
.newsIndex-main{
	position: relative;

	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;

	float: right;

	background: rgba(24,24,24);

	width: 75%;
	min-height: 100vh;
	padding-top: 5%;
}

.newsIndex-main-nav{
	display: block;
	width: 100%;
	margin: auto;
}

.newsIndex-main-navList{
	list-style-type: none;
	display: block;
}

.newsIndex-main-navList-item{
	position: relative;
	display: block;
	width: 60%;
	margin: auto;
	color: #fff;
	font-size: 2.5vw;
	line-height: 5vw;
	text-align: center;
	text-decoration: none;	
}

.newsIndex-main-navList-item:hover{
	background: rgb(106, 181, 108);
}
/*///////////////////////////////////////////*/
/*news.show*/
/*///////////////////////////////////////////*/

.newsShow-main{
	position: relative;

	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;

	float: right;

	background: rgba(24,24,24);

	width: 75%;
	min-height: 100vh;
	padding-top: 8%;
}

.newsShow-main-new{
	position: relative;
	display: block;
	background-color: #eee;

	width: 40%;
	max-width: 550px;
	min-height: 300px;
	margin-bottom: 8vh;

}

.newsShow-main-newCont{
	background: #eee;
	border: 5px solid #eee;
	border-bottom: none;
}

.newsShow-main-newImg{
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 300px;
}

.newsShow-main-newTitle{
	padding: 1% 2% 5% 2%;
	font-size: 1.5vw;
}

.newsShow-main-newFooter{
	bottom: 0%;

	background: #242424;
	width: 100%;
	padding: 2%;
	border-top: 1px solid black;
	
	color: #eee;
	font-size: 1.3vw;
}

.newsShow-main-newFooter-icons{
	display: flex;
	float: right;
	padding-right: 4%;
}

.newsShow-main-newFooter-favorite{
	color: red;
	font-weight: bold;
}
.newsShow-main-newFooter-comment{
	padding-left: 50%;
	color: white;
	font-weight: bold;
}
